/* Style for mini cards */
.card-container {
    margin-top: 10px;
}
.card{
    width: auto;
    height: 139px;
    box-shadow: 1px 7px 6px rgba(0, 0, 0, 0.25);
    border: none;
    display: flex;
    justify-content: flex-end;
}

.title {
    font-family: 'quicksand';
    font-size: 18px;
    font-weight: 500;
    font-style: 'light';
    color: #160656;
    text-align: center;
    padding:15px
}

.overlay{
    width: auto;
    height: 30px;
    background: rgba(13, 12, 12, 0.57);
}

/* style for news & browic cards */
.news{
    width:auto;
    height: 281px;

}

.browic{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-family: 'quicksand';
    font-size: larger;

}

/* timer */
.timer{
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 10px;
}
/* footer */

.footer{
display: flex;
justify-content: space-around;
flex-direction: row;
align-items: center;
height: 55px;
position: absolute;
font-family: Quicksand;
font-style: normal;
font-size: 16px;
text-align: center;
background: #453979;
width: 100%;
color: white;

}