/* Category Component */
.cat {
    height: auto;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* dropship sports */

.dropship{
    width: 300px;
    height: 40vh;
    margin-bottom:70px;
    /* background: red; */
}